#jsplumb-canvas {
    position: relative; /* Vital for correct Y offset when ancestors are relative */
    width: 1500px;
    height: 800px;
    border: 1px solid green;
}

.element {
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 10;
    background-color: #efefef;
    border: 1px solid black;
    border-radius: 5px;
}

.element2 {
    left: 300px;
    top: 150px;
}